<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mini_cobot">
<xacro:include filename="$(find scout_description)/urdf/mini.xacro"/>
<xacro:include filename="$(find scout_description)/urdf/piper_girpper_D435.urdf"/>


<joint name="arm_base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="arm_base"/>
    <origin xyz="0.1 0.0 0.1" rpy="0.0 0.0 0.0"/>
</joint>

</robot>



